<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <h1>Nos cinémas</h1>
        <div class="list-group">
        <app-home></app-home>
        <app-home></app-home>
        <app-home></app-home>
        </div>
    </div>
<div>
    <div class="container" class="article">
    <div class="row">
        <h1>à la une</h1>
        <div class="list-group">
        <app-home></app-home>
        <app-home></app-home>
        <app-home></app-home>
        </div>
    </div>
<div>
<app-footer></app-footer>